/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar brand */
.navbar-brand {
  font-weight: bold;
  color: #fff !important;
}

/* Navbar links */


/* Active link */
